.homeContent {
    height: calc(100vh - 57px); /* Adjust the height as needed */
    width: calc(100vw - 260px);
    margin-top: 8px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/* recomended */

.recomended div{
    display: inline;
    background-color: #e0e0e0;
    padding: 2px 8px;
    border-radius: 10px;
}

.recomended div:first-child {
    display: inline;
    background-color: black;
    padding: 5px 8px;
    border-radius: 10px;
    color: white;
}
.recomended div:hover{
    background-color: rgba(0, 0, 0, 0.377);
}

.recomended {
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: start;
    gap: 10px;
    margin: 15px 30px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    /* grid-template-rows: repeat(3, 1fr); */ /* Three rows with equal height */
    gap: 20px; /* Gap between grid items */
    margin: 0 10px;
    margin-top: 25px;
}

.grid-item {
    min-height: 300px;
    min-width: 200px;
    margin-bottom: 20px;
    flex: 1;
}

.video-container {
    height: calc(100% - 30%);
    width: 100%;
    background-color: gray;
    border-radius: 10px;
    flex: 1;
}

.video-body {
    padding: 5px;
    padding-top: 7px;
    gap: 10px;
    
}

.video-title {
    justify-content: space-between;
    height: 80px;
}


@media screen and (max-width: 576px) {
    .homeContent {
    height: calc(100vh - 57px); /* Adjust the height as needed */
    width: calc(100vw );
    
}

    .video-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Three columns with equal width */
        /* grid-template-rows: repeat(3, 1fr); */ /* Three rows with equal height */
        gap: 20px; /* Gap between grid items */
        margin: 0 10px;
        margin-top: 25px;
    }

    .grid-item {
        margin-left: 30px;
        margin-right: 30px;
    }
  }

  @media screen and (min-width: 577px) {
    .homeContent {
    height: calc(100vh - 57px); /* Adjust the height as needed */
    width: calc(100vw );
    
    
}

    .video-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Three columns with equal width */
        /* grid-template-rows: repeat(3, 1fr); */ /* Three rows with equal height */
        gap: 20px; /* Gap between grid items */
        margin: 0 10px;
        margin-top: 25px;
    }


    
  }

  @media screen and (max-width:767px) {
    /* .grid-item {
        margin-left: 30px;
        margin-right: 30px;
        min-height: 400px;
    } */
  }

  @media screen and (min-width: 768px) {
    .homeContent {
    height: calc(100vh - 57px); /* Adjust the height as needed */
    width: calc(100vw - 100px);
    
}
  }

  @media screen and (min-width: 992px) {
    .homeContent {
        height: calc(100vh - 57px); /* Adjust the height as needed */
        width: calc(100vw - 260px);
        
    }

    .video-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Three columns with equal width */
        /* grid-template-rows: repeat(3, 1fr); */ /* Three rows with equal height */
        gap: 20px; /* Gap between grid items */
        margin: 0 10px;
        margin-top: 25px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .homeContent {
        height: calc(100vh - 57px); /* Adjust the height as needed */
        width: calc(100vw - 260px);
        
    }

    .video-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
        /* grid-template-rows: repeat(3, 1fr); */ /* Three rows with equal height */
        gap: 20px; /* Gap between grid items */
        margin: 0 10px;
        margin-top: 25px;
    }
  }
